#logindiv {
    position: absolute;
    left: 500px;
}
section{
    background-color: rgb(240, 173, 49);;

}

#lock {
    position: absolute;
    margin-left: 289px;
}

.form-group .icon {
    margin-left: 289px;

}

.input-group-append {

}
