#logindiv {
    position: absolute;
    left: 500px;
}
section{
    background-color: rgb(240, 173, 49);;

}

#w3-red{
 margin-left: 10px;
}

#lock {
    position: absolute;
    margin-left: 289px;
}

.form-group .icon {
    margin-left: 289px;

}
