<div class="container">
    <!-- <br><h2 id="title">Reservation</h2> -->
    <i class="bi bi-book" id="title_icon"></i><br>
    <form [formGroup]="dateRangeForm" (ngSubmit)="onFormSubmit()" class="cal">
        <mat-form-field>
            <input [(ngModel)]="reserved_at" matInput [min]="minDate" [matDatepicker]="picker1" placeholder="Start date" formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="return_date" matInput [min]="maxDate" [matDatepicker]="picker2" placeholder="End date" formControlName="toDate">
            <mat-datepicker-toggle  (click)="setReservationMaxDate()" matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br><br><br>
        <button type="submit" class="submit" [disabled]="!reserved_at || !return_date">Reserve&nbsp;<i class="bi bi-book" id="submit_icon"></i></button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="back"><span routerLink="/book_details/{{book.id}}" class="bi bi-arrow-return-left" style="font-size: 20px;"></span></button>
    </form>
</div>