<div class="container">
    <div class="row">
        <ng-container>
            <div class="card col-md-3" id="bookCard">
                <img src="/assets/images/{{book.image}}" alt="picture of book">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis;max-width: 100ch;"><strong>Title: </strong>{{book.title}}
                </h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis;max-width: 100ch;"><strong>Description: </strong>
                    {{book.description}}</p>
                <p><strong>AuthorName: </strong>{{book.author.firstName + " " + book.author.lastName}}</p>
                <p><strong>PublisherName: </strong>{{book.publisher.name}}</p>
               <!--  <div class="relative">
                    <button class="btns" type="button" ><i class="fa fa-plus"></i></button>
                    <span >{{product.quantity}}</span>
                    <button class="btns" type="button" ><i class="fa fa-minus"></i></button>
                </div> -->
                <div class="buttons">
                    <button class="btn btn-primary" id="button-format" (click)="loan(book)" [disabled]="isDisabled_loanBtn">LÅN </button>
                    <button class="btn btn-primary" id="button-format" (click)="reserve(book)" [disabled]="isDisabled_reserveBtn">RESERVER  </button> 
                    <br><br><br>
                    <button class="w3-btn w3-red w3-ripple" id="back" routerLink="/Frontpage">Back</button> 
                </div>
                
            </div>
        </ng-container>
    </div>
</div>
