.btn-primary {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    width: 100px;
    text-align: center;
}

button#button-format2:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}