<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <H2>Kategorier</H2>


    <!-- <li *ngFor="let category of categories; index as i">
      {{i}} {{category}}
    </li> -->
    <h3>Kategori 1: Børnebøger</h3>
    <ul *ngFor="let book of childrensBooks">
        <li>{{book}}</li>
    </ul>
</body>

</html>