<div class="container">
  <h1><a>Administration Panel</a></h1>
    <div class="background" style="background-color: #b3d9ff;">
      <div class="search-bar">
        <input class="form-control" [(ngModel)]="searchText" type="text" name="search" autocomplete="off" placeholder="search by category">
        <div class="btnAndTitle">
          <strong style="height: 100px;" class="btnTitle">ADD</strong>
          <!-- <button class="createBookBtn" data-toggle="modal" data-target="#Modal_Category_Create">+</button> -->
          <button id="btnAdd" class="" data-toggle="modal" data-target="#Modal_Category_Create"><i class="bi bi-folder-plus" id="addIcon"></i></button>
        </div>
      </div>
      <button type="button" class="btn btn-light" style="position: absolute; margin-left: 523px; margin-top: 55px; background-color: #272626; color: white; height: 38px; border: 1px solid white;"><span routerLink="/Admin" class="bi bi-arrow-return-left" style="font-size: 20px;"></span></button>
      <table style="width: 440px; background-color: #686868;" class="table table-striped table table-hover table table-bordered">
          <thead>
          <tr class="head">
            <th id="operation" style="background-color: #212121; color: aliceblue; width: 92px;">Operation</th>
            <th id="cat_column" style="background-color: #212121; color: aliceblue;">Category</th>
          </tr>
          </thead>
            <tbody *ngIf="categorys?.length != 0">
              <tr style="background-color: #686868;" class="head-values" *ngFor="let category of categorys | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }">
                <button style="width: 45px;" (click)="delete(category)"><i class="fa-solid fa-trash red-color" style="font-size: 20px;"></i></button>
                <button style="width: 45px; color: rgb(224, 211, 22);" (click)="edit(category)" data-toggle="modal" data-target="#Modal_Category_Update"><i class="fas fa-edit" style="font-size: 20px;"></i></button>
                <td style="color: whitesmoke;">{{ category.categoryName }}</td>
              </tr>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </tbody>
              <tbody *ngIf="categorys?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">category Table Is Empty!</td>
                </tr>
              </tbody>
        </table>
  </div>
</div>


<!-- Modal For Update Category -->
<div class="modal fade" id="Modal_Category_Update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title text-danger" id="exampleModalLabel">EDIT Category</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        <form>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input [(ngModel)]="category.categoryName" class="form-control" id="name" name="name" placeholder="enter category name">
          </div>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="save()" type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Update</button>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="cancel()" type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
    



<!-- Modal For Create Category -->
<div class="modal fade" id="Modal_Category_Create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="modal-title text-danger" id="exampleModalLabel">CREATE NEW Category</h4>
          <br><br>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
          <form>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <input [(ngModel)]="category.categoryName" class="form-control" id="name" name="name" placeholder="enter category name">
            </div>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="title">
              <button (click)="save()" type="button" class="btn btn-primary btn-lg" data-dismiss="modal"  [disabled]="!category.categoryName">Create</button>
            </div>
            <div class="message">
              <p id="" [hidden]="category.categoryName">
                <span style="font-size:0.8em; color: red;">*field required</span>
              </p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="cancel()" type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
