<div class="container">
    <h1>Kategori: {{category.categoryName}} </h1>
    <div class="row" *ngIf="category">
        <div class="card col-md-3">
            <p *ngFor="let book of category.books">
                <br>
                <label style="font-weight: 620;"> Bognavn: </label>{{book.title}}
                <br>
                <label style="font-weight: 620 ">Bog Beskrivelse: </label>{{book.description}}
                <br>
                <label style="font-weight: 620 ">Sprog: </label>{{book.language}}
                <br>
                <label style="font-weight: 620 ">Udgivelsesår: </label>{{book.publishYear}}
                <br>
        </div>
    </div>
</div>
