<p>category-details works!</p>
<div class="container" style="width: 900px;">
    <h1>Category:&nbsp;{{ category.categoryName }}</h1>
    <br>
    <div class="row" *ngIf="!!category">
        <div class="card col-md-3">
            <h3>{{ category.categoryName }}</h3>
            <div *ngFor="let category of categories">
                <div *ngFor="let book of category.books">
                    Bognavn: {{book.title}} Bog Beskrivelse: {{book.description}}
                </div>
            </div>
            <!-- <p *ngFor="let book of categories.Books" [routerLink]="['/Book', book.id]">
                <label style="font-weight: 620">Bog: </label>{{book.title}}
                <br>
                <label style="font-weight: 620">DKK:&nbsp;</label>{{book.description},-
                <br>
                <br> -->
        </div>
    </div>
</div>