
.cal {
    height: 160px;
    margin-left: 32px;
    margin-top: 23px;
}

.submit {
    margin-left: 102px;
    margin-left: 74px;
}

/* #start_date {
    cursor: pointer;
} */

.container {
    max-width: 296px;
    margin-left: 613px;
    margin-top: 180px;
    border: 5px double gray;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

