<div class="container">
    <i class="bi bi-book" id="title_icon"></i>
    <form [formGroup]="dateRangeForm" (ngSubmit)="onFormSubmit()" class="cal">
        <mat-form-field>
            <input [(ngModel)]="loaned_at" matInput [min]="minDate" [matDatepicker]="picker1" placeholder="Start date" formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 id="start_date"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="return_date" matInput [min]="maxDate" [matDatepicker]="picker2" placeholder="End date" formControlName="toDate">
            <mat-datepicker-toggle (click)="setLoanMinDate()" matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <br>
        <button type="submit" class="submit" [disabled]="!loaned_at || !return_date">Borrow&nbsp;<i class="bi bi-book"></i></button>
        <button type="button" class="back" style="position: absolute; margin-left: -178px; margin-top: -171px; background-color: #696565; color: white; height: 30px;"><span routerLink="/book_details/{{book.id}}" class="bi bi-arrow-return-left" style="font-size: 20px;"></span></button>
    </form>
</div>