.cal {
    height: 160px;
    margin-left: 32px;
    margin-top: 23px;
}

#title_icon {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 11px;
}

.submit {
    margin-left: 75px;
}

.back {
    margin-left: 213px;
    margin-top: 0px;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    max-width: 296px;
    margin-left: 613px;
    margin-top: 180px;
    border: 5px double gray;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

