.mainform {
  width: 45%;
  margin-left: 507px;
  margin-top: 63px;
  border: 5px double gray;
  background-color: rgb(212, 148, 69);
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#profileInfo {
  border: 2px solid rgb(44, 43, 43);
}

.formTitle {
  font-family: GEORGIA;
  text-align: center;
}

.titleForResetPass {
  text-align: center;
  font-family: GEORGIA;
  font-size: 30px;
  margin-top: -88px;
}

.input-group-append {
  margin-left: 37px;
  margin-top: -3px;
}

.editFormBtns {
  width: 30%;
  margin-left: 289px;
  margin-top: 25px;
  border: 3px double rgb(44, 43, 43);
  background-color: rgb(212, 148, 69);
  padding: 5px;

}

.editForm {
  width: 45%;
  margin-left: 226px;
  margin-top: 25px;
  border: 2px solid rgb(44, 43, 43);
  background-color: rgb(212, 148, 69);
  padding: 10px;
}

.forgotPass {
  border: 4px double rgb(44, 43, 43);
  padding: 10px;
  width: 350px;
  margin: 0 auto;
}

.newPassBtns {
  /* border: 5px double gray; */
  /* width: 350px; */
  padding: 10px;
  margin: 0 auto;
  justify-content: center; 
  align-items:center; 
  display: flex;
}


#error_message {
  position: absolute;
  top: 293px;
}

.form{
  margin-top: 25px;
  margin-left: 200px;
  border: none;
}

.w3-container {
    margin-left: 510px;
    height: 727px;
    margin-top: 70px;
}

.common{
  padding-left: 10;
    
}
h3{
    color:black;
    font-weight: bold;        
}
