@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

.role_admin {
  position: absolute;
  left: 160px;
  top: 232px;
  margin-top: 42px;
}

.all_content {
  position: absolute;
  margin-left: 160px;
}

#Modal {
  opacity:1 !important;
  margin-top: 50px;
}

#Modal_Members {
  opacity:1 !important;
  margin-top: 140px;
}

#edit-btn-admin {
  margin-left: 468px;
  margin-top: -2px;
}

#myModal {
  opacity:0.5 !important;
}
.choose_type {
  top: -170px;
  position: absolute;
  left: -3px;
}

.background {
  left: 0px;
  position: absolute;
  top: 193px;
  width: 2000px;
  height: 1000px;
}

.navdrop {
  top: 207px;
  left: 115px
}

a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover {
  background: red;
  cursor: pointer;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.menu {
  word-wrap: normal;
  position: absolute;
  top: 185px;
  left: 153px;
}

.label {
  word-wrap: normal;
  position: absolute;
  top: 181px;
  left: 25px;
}

.red-color {
    color:red;
}

.table_admin {
  margin-left: 141px;
  margin-top: -25px;
}

.table {
  margin-left: 141px;
  margin-top: -10px;
}

.search-bar {
    width: 350px;
    margin-left: 279px;
    margin-top: 12px;
}


.table-table-striped {
    cursor: pointer;  
}

.head {
    cursor: pointer;
}

.head-values_admin {
  cursor: pointer;
}

.head-values {
    cursor: pointer;
}

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: "Raleway", cursive;
  font-weight: 100;
  position: relative;
  width: 263%;
  background: linear-gradient(to right, black, #eee, black);
  white-space: nowrap;
  left: -785px;
}
h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: -50px;
  width: 64%;
  margin-left: 390px;
  margin-top: -220px;
  height: 600px;
  background: radial-gradient(ellipse closest-side, #444, black);
  z-index: -1;
}
h1 a {
  background: black;
  display: block;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 30px;
  color: white;
  animation: comein 1.5s 1 ease-in-out forwards;
  margin-left: -564px;
  margin-top: 0px;
  font-family: "Raleway", cursive;
}

@keyframes comein {
  0% {
    letter-spacing: 80px;
    color: rgba(255, 255, 255, 0);
  }
  70% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 25px;
    color: rgba(255, 255, 255, 1);
  }
}

body {
  background: black;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}