<p>profile works!</p>
<h3>Hi {{currentUser.firstName}}!</h3>

<div class="w3-container">
    <h4>Your Profile:</h4><br>

    <table class="w3-table w3-bordered w3-striped">
        <tbody>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            <tr>

                <td>{{ currentUser.email}}</td>
                <td>{{ currentUser.password }}</td>
                <td>{{ currentUser.firstName }}</td>
                <td>{{ currentUser.middleName }}</td>
                <td>{{ currentUser.lastName }}</td>
                <td>{{ currentUser.role }}</td>

                <td>
                    <button class="w3-btn w3-yellow w3-ripple" (click)="edit(currentUser)">&#9998; Edit</button>
                </td>
            </tr>

            <tr>
                <td>Dine Lån </td>
                <td>{{currentUser.id}}</td>
            </tr>
            <tr>
                <td>Dine Reservationer</td>
            </tr>
    </table>
    <br>
    <hr>

    <div>
        <label>Email</label>
        <input class="w3-input w3-border" [(ngModel)]="user.email">

        <label>Password</label>
        <input class="w3-input w3-border" [(ngModel)]="user.password">

        <label>FirstName</label>
        <input class="w3-input w3-border" [(ngModel)]="user.firstName">

        <label>MiddleName</label>
        <input class="w3-input w3-border" [(ngModel)]="user.middleName">

        <label>LastName</label>
        <input class="w3-input w3-border" [(ngModel)]="user.lastName">



    </div><br>

    <div>
        <button class="w3-btn w3-green w3-ripple" (click)="save()">Save</button>&nbsp;&nbsp;
        <button class="w3-btn w3-blue w3-ripple" (click)="cancel()">Cancel</button> <br><br>
        <span class="w3-red">{{ message }}</span>
    </div>
