.click {
    color: black;
    cursor: pointer;
    font-size: large;
    border-radius: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#searchDiv {
    font-size: medium;
    color: blue;
    max-width: 450px;
    position: absolute;
    top: auto;
    left: 1314px;
}

.container {
    position: absolute;
}

.d-flex {
    width: 414px
}

a {
    text-decoration: none;
    transition: 700ms ease;
}

nav {
    font-family: monospace;
    font-size: 20px;
}

ul {
    background: black;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 57px;
    width: 100%
}

li {
    color: #fff;
    background: black;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: #4e1d04;
    cursor: pointer;
}

ul li ul {
    visibility: visible;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

h1 {
    color: wheat;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 60px 20px 90px;
    margin: auto;
}

input {
    height: 30px;
    width: 150px;
    margin: 10px;
}

input a i {
    margin: 10px;
}
