/* /*@import url('https//fonts.googleapis.com/css?family=Poppins:wght@400&display=swap');*/
/*
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif
}
.icon img{
  height:50px;
  width:50px;
}
nav{
  display:flex;
  width:100%;
  background: black;
  position:relative;
  justify-content: space-between;
  text-align: center;
  padding:15px 30px;
  color:white;
 
}
nav .icon{
  font-size:35px;
  font-weight:800;
  color:white;
  cursor:pointer;
}
nav ol{
  display:flex;
  list-style: none;
  margin:auto 0;

}
nav ol li {
  margin: 0 2px;
}
nav ol li a{
  color:white;
  font-size:20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding:5px 10px;
}
li:hover,
li:focus-within {
  background: #4e1d04;
  cursor: pointer;
  
}*/

/*  .dropdown-menu ul li{
  background: #262626;

  animation: animate 1s ease;

}
.dropdown-menu ul li a{
  color:#fff;
  

}
.dropdown-menu ul li a:hover{
  background: #fff;
  color:#262626;
  
} 
.nav-area ol li:hover ul li{
  display: block;
} */

.click{
 color: black;
 cursor: pointer;
 font-size: large;
 border-radius: 1000px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#searchDiv{
font-size: medium;
color: blue;
max-width: 450px;
display:flex;
top: 20px;
left: 1510px;
}


.container {
  position: absolute;
}

.d-flex {
  width: 414px
}

a {
  text-decoration: none;
  transition:700ms ease;
}

nav {
  font-family: monospace;
  font-size: 20px;
}

ul {
  background: black;
  display:flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding-left: 0;
  height: 57px;
  width:100%
}

li {
  color: #fff;
  background: black;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}


li:hover,
li:focus-within {
  background: #4e1d04;
  cursor: pointer;
}

/*li:focus-within a {
  outline: none;
}*/
/*for Category */
ul li ul {
  /*background: #dcbe87;*/
  visibility: visible;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0; 
  display: none;

}
/*category hover*/
  ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 1;
  
} 
/* 
ul li ul li {
  clear: both;
  width: 100%;
}   */

/* #date{
  color: green;
} */
 h1{
  color:wheat;
  font-weight: bold;
 justify-content: space-between;
 padding: 10px 60px 20px 90px;
 margin: auto;

} 

input{
  height:30px;
  width:150px;
  margin: 10px;
}
input a i{
  margin:10px;
}


/*Responsive*/


/* @media (max-width:952px){
  ul li ul{
    z-index:1;
  }
  #nav ul li a{
    font-size: 20px;

  }
  h1{
    font-size:13px;
    size:0.5em;
  }
 
}  */