<body class="background">
    <div class="content">
        <!-- <h1 style="font-size:60px; color:rgb(0, 0, 0); margin:10px; margin-left: 40px;">user information</h1> -->
        <div class="nine">
            <h1>Profile: {{currentUser.firstName}}<span>Change details - watch activities </span></h1>
          </div>
        <br>
        <!-- <p style="font-size:20px; color: rgb(0, 0, 0); margin-left: 33px;"><em>Administrator rights to perform CRUD operations.</em></p> -->
        <div class="myBtns">
            <button style="height: 50px; width: 133px;" class="button-29" role="button" routerLink="/profile">Edit Profile</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="height: 50px; width: 170px;" class="button-29" role="button" routerLink="/activeLoans" *ngIf="this.x !== 1">Active Loan's&nbsp;</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="height: 50px; width: 223px;" class="button-29" role="button" routerLink="/activeReservations" *ngIf="this.x !== 1">Active Reservation's</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>

    </div>
</body>