<!-- <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of books">
            <div class="card col-md-3">
                <a routerLink="/category_books/{{item.id}}"><img src="/assets/images/{{item.image}}" alt="picture of books"></a>
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis;max-width: 100ch;">{{item.title}}</h5>

            </div>
        </ng-container>
    </div>

</div> -->

<!--Here it displays all of the books of the specific category -->

<div class="container">

<br><br><br>
    <div class="row">
        <ng-container *ngFor="let item of books">
            <div class="card col-md-3" style="border-radius: 8px; max-width: 217px;" id="cards">
                <a routerLink="/book_details/{{item.id}}"> <img src="/assets/images/{{item.image}}" alt="picture of book"> </a>
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis;max-width: 100ch;">{{item.title}}</h5>
            </div>
        </ng-container>
    </div>

</div>
