/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: url("/assets/images/Library.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

img {
    width: 60px;
}
