       body{
        margin:0px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;

       }


       .height{
        height: 30vh;
       }
       #books {
             /* background: linear-gradient(rgba(108, 153, 196, 0.705),rgba(192, 61, 9, 0.822));*/
              background-image: linear-gradient(rgba(181, 199, 216, 0.705),rgba(218, 81, 27, 0.822)),url("/assets/images/background-art.jpg");
            }

       #banner
       {
              padding-bottom: 25.5%;
              background-image: url(/assets/images/Library.jpg);
              background-size:cover;
              margin-top: -20px;;
              width: 100%;
              height: 350px;
              max-width: 1920px;


        }




       .search{
       padding-top: 200px;

       position: relative;
       width:100%;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
       }




       .search input{
        height: 60px;
        text-indent: 35px;
        border: 2px solid rgb(3, 75, 3);

       }
       .search input:focus{

        box-shadow: none;
        border: 2px solid green;

       }

       .search .fa-search{

        padding-top: 200px;
        position: absolute;
        top: 20px;
        left: 16px;
        color: green;
        size:20em;


       }

       .search button{

        margin-top: 200px;
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 120px;
       }
      /*  .searchDiv{
        font-size: medium;
        color: black;
        background-color: beige;
        max-width: 450px;
        top: 80px;
        left: 20px;
        opacity: 1;
        } */

        @media(max-width:540px)
        {

        .search button
        {display:none;}


        }

        @media(max-width:540px)
        {
              .search{
                     padding: 200px;
                     position: relative;
                     width:100%;

                     }
                     .search .fa-search{
                            display: none;
                     }
        }
