<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

 <div class="container">
    <div class="row">
         <ng-container *ngFor="let item of searchBooks | filter:filterTerm" >
            <div class="card col-md-3">
                <a routerLink="/book_details/{{item.id}}"><img src="/assets/images/{{item.image}}" alt="picture of products"></a>
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow:ellipsis;max-width: 100ch;">{{item.title}}</h5>

            </div>
        </ng-container> 
    </div>

</div> 
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search Books" (keydown.enter)="showSearch()"
          (keydown.backspace)="checkSearch($event)" [(ngModel)]="filterTerm">
          <button class="btn btn-primary "  (click)="click()">Search</button>  
          <div class="searchDiv">
          <tr *ngFor="let book of allBooks | filter: filterTerm" [routerLink]="['/book_details', book.id]">
        
            <td>
            {{book.title}}
                <br>
            Description:
            {{book.description}}
                <br>
            Publish Year:
            {{book.publishYear}}
             <br>
            </td>
        </tr>
    </div>  
        </div>
        
      </div>
      
    </div>
</div>

