    a {
        text-decoration: none;
    }

    nav {
        font-family: monospace;
    }

    tr {
        cursor: pointer;
    }

    h1 {
        font-size: 50px;
    }

    #divforside {
        position: absolute;
        top: 55px;
        left: 555px;
    }
